body {
    background: lightblue;
}

.random-btn {
    margin: 40px;
    font-size: 28px;
}

.jumbotron {
    background: lightblue;
    text-align: center;
    color: rgba(17, 175, 101, 0.849);
} 

#button-container {
    margin: 40px;
    font-size: 28px;
}